In [1]:
# !pip install mlxtend
import warnings
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

warnings.filterwarnings('ignore')

In [2]:
path = "../s1/data/"
file_name = "Online Retail.xlsx"
sheet_name = "Online Retail"
df = pd.read_excel(path + file_name, sheet_name=sheet_name)
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [3]:
countries = df.groupby('Country', as_index=False)["InvoiceNo"].count().sort_values(by="InvoiceNo", ascending=False)[:3]["Country"].tolist()
dataset = df.loc[df['Country'].isin(countries)][["StockCode", "Country"]]
dataset
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df_te = pd.DataFrame(te_ary, columns=te.columns_)
apriori(df_te, min_support=0.0000001)

      support                  itemsets
0    0.000004                       (0)
1    0.000002                       (1)
2    0.000002                       (2)
3    0.000002                       (3)
4    0.000002                       (4)
..        ...                       ...
370  0.000002     (0, 1, 3, 4, 5, 7, 9)
371  0.000002     (0, 2, 3, 4, 5, 7, 9)
372  0.000002   (0, 6, 7, 8, 9, 10, 11)
373  0.000002     (1, 2, 3, 4, 5, 7, 9)
374  0.000002  (0, 1, 2, 3, 4, 5, 7, 9)

[375 rows x 2 columns]